/////////////////////
// CORES PRIMÁRIAS //
/////////////////////

$azul: 				#39f;
$vermelho: 			#f00;
$verde: 			#4c3;

////////////////////
// TRANSPARÊNCIAS //
////////////////////

$t-clouds: 			rgba(236, 240, 241,.6);
$t-azul: 			rgba(51, 68, 204,.5);
$t-vermelho: 		rgba(204, 51, 68,.5);
$t-verde: 			rgba(68, 204, 51,.5);
$t-dark: 			rgba(210, 210, 210,.4);
$t-alizarin:		rgba(231, 76, 60,.2);
$t-cinnabar:		rgba(231, 74, 57,.2);
$t-sun-flower:		rgba(241, 196, 15,.2);
$t-sun-flower-1:	rgba(241, 196, 15,.6);
$t-nephritis: 		rgba(39, 174, 96,.6);
$t-midnight-blue:   rgba(44, 62, 80,.9);


/////////////////
// FLAT COLORS //
/////////////////

$alizarin: 			#e74c3c;
$amethyst: 			#9b59b6;
$asbestos: 			#7f8c8d;
$belize-hole: 		#2980b9;
$carrot: 			#e67e22;
$clouds: 			#ecf0f1;
$concrete:			#95a5a6;
$emerald:			#2ecc71;
$green-sea:			#16a085;
$midnight-blue:		#2c3e50;
$nephritis:			#27ae60;
$orange:			#f39c12;
$peter-river:		#3498db;
$pomegranate:		#c0392b;
$pumpkin:			#d35400;
$silver:			#bdc3c7;
$sun-flower:		#f1c40f;
$turquoise:			#1abc9c;
$wet-asphalt:		#34495e;
$wisteria:			#8e44ad;

$bittersweet:		#ff6f6f;
$blue-bayoux: 		#48647c;
$bright-turquoise:	#0dcdc0;
$camelot:			#832d50;
$cinnabar:			#e74a39;
$conifer:			#a7d163;
$curious-blue-1:	#297fb8;